* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* псевдокласс, который выбирает самый верхний элемент в дереве документа — это обычно элемент <html> в HTML-документе. Это аналогично селектору html, но с ключевым отличием: :root имеет более высокий приоритет в некоторых случаях, особенно в контексте кастомных свойств (переменных) и глобальных стилей */
  --bg-color: #fdfdfd;
  --text-color: #333;
  --main-color: #0a1f30;
  --white-color: #fdfdfd;
  --shadow-color: rgba(0, 0, 0, 0.2);
}

.dark-mode {
  --bg-color: #3a4b59;
  --text-color: #fdfdfd;
}

html {
  font-size: 62.5%; /* процент указывает на величину шрифта по отношению к базовому шрифту браузера, который по умолчанию составляет 16px. 62.5% от 16px = 10px. */
  overflow-x: hidden; /* говорит браузеру, что если содержимое элемента выходит за его границы по горизонтали, оно должно быть скрыто, и прокручивать его невозможно. */
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
}

.header {
  position: fixed; /* задает позиционирование элемента относительно окна браузера (или экрана), а не его родительского контейнера. */
  display: flex;
  padding: 2rem 7%; /* Иметь отступы сверху и снизу (в 2rem) и по бокам (в 7%). 1rem всегда равен размеру шрифта корневого элемента. Здесь 2*10 = 20px*/
  top: 0; /* Это нужно, чтобы элемент "прилип" к верхней части экрана и не сдвигался вниз */
  left: 0;
  width: 100%; /* .header будет растягиваться на всю ширину окна браузера */
  background: transparent;
  align-items: center;
  z-index: 100;
  transition: 0.5s;
  margin: 0;
  padding: 0;
}

.header.sticky {
  background: var(--bg-color);
  box-shadow: 0 0.1rem 1rem var(--shadow-color);
}

.header.sticky .navbar a {
  /* .header.sticky будет означать, что элемент имеет оба класса header и sticky одновременно. Это означает, что внутри блока .header.sticky ищутся ссылки (теги <a>) внутри блока .navbar. Пробел в селекторе указывает на потомков. Нет пробела — это означает одновременное наличие классов у одного элемента. */
  color: var(--text-color);
}

.header.sticky .navbar a.active {
  color: var(--main-color);
}

.header.sticky .navbar a::before {
  background: var(--main-color);
  opacity: 0.7;
}

.header.sticky #darkMode-icon {
  color: var(--text-color);
  opacity: 0.9;
}

.logo {
  font-size: 2.5rem;
  color: var(--main-color);
  font-weight: 600;
  cursor: default;
  margin-right: auto;
}

.navbar a {
  position: relative;
  font-size: 1.7rem;
  color: var(--white-color);
  font-weight: 500;
  margin-right: 3.5rem;
}

.navbar a.active::before {
  /* ::before — это псевдоэлемент, который добавляется перед содержимым ссылки, но только визуально. Этот элемент не влияет на структуру HTML, а создается исключительно для стилизации */
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background: var(--white-color);
  bottom: -6px;
}

#darkMode-icon {
  font-size: 2.4rem;
  color: var(--white-color);
  cursor: pointer;
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

section {
  min-height: 100vh; /* Что делает? Задает минимальную высоту элемента равной 100% высоты видимой области окна браузера (viewport height).
  100vh — это единица измерения, где 1vh равен 1% от высоты окна браузера. Таким образом, 100vh соответствует полной высоте экрана.
  Когда используется? Это полезно для секций, которые должны занимать весь экран, независимо от содержимого. */
  padding: 5rem 7% 2rem;
}

.home {
  display: flex;
  align-items: center;
}

.home .home__content {
  max-width: 57rem; /* Это значит, что элемент не будет шире, чем 44 рем, даже если его содержимое больше. */
}

.home__content h3 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3;
}

.home__content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.home__content p {
  font-size: 1.6rem;
}

.home__content .social-media a {
  display: inline-flex; /* Это делает элемент гибким (flex), но с сохранением поведения, похожего на встроенные элементы (inline). */
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--main-color);
  margin: 2.5rem 1.5rem 3rem 0;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  transition: 0.5s ease; /* Добавляет плавный переход для любых изменяющихся свойств (например, color, border, box-shadow). ease: Тип анимации, которая начинается медленно, ускоряется в середине и замедляется к концу. */
}

.home__content .social-media a:hover {
  background: var(--main-color);
  color: var(--white-color);
}

.btn {
  display: inline-block;
  padding: 1.2rem 2.8rem;
  background: var(--main-color);
  transition: 0.5s ease;
  border-radius: 0.6rem;
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  font-size: 1.6rem;
  color: var(--white-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  border: 0.2rem solid transparent;
}

.btn:hover {
  background: transparent;
  color: var(--main-color);
  background-color: var(--white-color);
  border: 0.2rem solid var(--main-color);
}

.home .home__profession {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 768px;
  height: 768px;
  overflow: hidden;
  pointer-events: none;
}

.home .home__profession .profession__box {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  width: 768px;
  height: 768px;

  animation: professionRotate 13s ease-out infinite;
}

@keyframes professionRotate {
  0%,
  20% {
    transform: rotate(0deg);
  }
  25%,
  45% {
    transform: rotate(-90deg);
  }
  50%,
  70% {
    transform: rotate(-180deg);
  }
  75%,
  95% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.home .profession__box .profession__name {
  position: absolute;
  display: flex;
  left: 0;
  align-items: center;
  flex-direction: column;
  color: var(--main-color);
  transform: rotate(calc(360deg / 4 * var(--i))); /* Эта строка кода поворачивает каждый элемент на угол, соответствующий значению переменной --i, создавая вращение элементов вокруг их центра. */
  transform-origin: 384px; /* Свойство transform-origin указывает точку, вокруг которой происходит трансформация элемента. Это координаты для оси вращения (по умолчанию ось вращения находится в центре элемента). 384px — это значение для оси трансформации. Скорее всего, это половина ширины элемента, и таким образом ось трансформации будет расположена в центре элемента (если элемент имеет размер 768px). В этом случае элемент будет вращаться вокруг своей центральной точки, так как 384px — это половина от 768px. */
  background: var(--bg-color);
  padding: 13px 0;
}

.home .profession__name i {
  font-size: 3.8rem;
}

.home .profession__name h3 {
  font-size: 3.2rem;
  line-height: 1;
  font-weight: 600;
}

.home .profession__box .circle {
  width: 560px;
  height: 560px;
  border: 3px solid var(--main-color);
  border-radius: 50%;
}

.home .profession__box .profession__name:nth-child(1) i {
  /* Это правило применяет отступ справа (15px) только к первому элементу <i> внутри первого .profession__name в контейнере .profession__box. */
  margin-right: 15px;
}

.home .profession__box .profession__name:nth-child(2),/* :nth-child(2) — выбирает второй элемент с классом .profession__name внутри .profession__box. */
.home .profession__box .profession__name:nth-child(4) {
  padding-bottom: 20px;
}

.home .home__profession .overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 384px solid var(--main-color);
  border-right: 384px solid var(--main-color);
  border-bottom: 384px solid var(--main-color);
  border-left: 384px solid transparent;
}

.home__img img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  pointer-events: none;
}

span {
  color: var(--main-color);
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.about__img img {
  /*  width: 30vw; /* это значит, что ширина элемента будет равна 40% от ширины видимой области браузера */
  width: 34rem;
  height: 34rem;
  object-fit: cover;
  border-radius: 50%;
  border: 0.5rem solid var(--bg-color);
  outline: 0.5rem solid var(--main-color);
}

.heading {
  font-size: 4.5rem;
  text-align: center;
}

.about__content h2 {
  text-align: left;
  line-height: 1.2;
}

.about__content h3 {
  font-size: 2rem;
}

.about__content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

.services {
  min-height: auto;
  padding-bottom: 7rem;
}

.services h2 {
  margin-bottom: 5rem;
}

.services .services__container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 2rem;
}

.services__container .services__box {
  flex: 1 1 30rem;
  background: var(--bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  box-shadow: 0 0.1rem 0.5rem var(--shadow-color);
  text-align: center;
  border-top: 0.6rem solid var(--main-color);
  border-bottom: 0.6rem solid var(--main-color);
  transition: 0.5s ease;
  justify-content: space-between;
  min-height: 25rem;
}

.services__container .services__box:hover {
  box-shadow: 0 0.1rem 2rem var(--shadow-color);
  transform: scale(1.02);
}

.services__box i {
  font-size: 7rem;
  color: var(--main-color);
}

.services__box h3 {
  font-size: 2.6rem;
  transition: 0.5s ease;
}
.services__box:hover h3 {
  color: var(--main-color);
}
.services__box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
  flex-grow: 1;
}

.portfolio {
  padding-bottom: 10rem;
}
.portfolio h2 {
  margin-bottom: 4rem;
}
.portfolio .portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}
.portfolio__container .portfolio__box {
  position: relative;
  display: flex;
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.portfolio__box img {
  width: 100%;
  transition: 0.5s ease;
}
.portfolio__box:hover img {
  transform: scale(1.1);
}

.portfolio__box .portfolio__layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  color: var(--white-color);
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 0 4rem;
  transition: 0.5s ease;
  opacity: 0;
}
.portfolio__box:hover .portfolio__layer {
  opacity: 1;
}
.portfolio__layer h4 {
  font-size: 3rem;
}
.portfolio__layer p {
  font-size: 1.6rem;
  margin: 3rem 0 1rem;
}

.portfolio__layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--white-color);
  border-radius: 50%;
}
.portfolio__layer a i {
  font-size: 2rem;
  color: #333;
}

.feedbacks__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 2rem 1rem;
}

.feedbacks__container .feedbacks__wrapper {
  position: relative;
  max-width: 90rem;
  width: 100%;
  padding: 1rem 5rem;
}

.feedbacks__wrapper .feedbacks__box {
  border-radius: 2rem;
  overflow: hidden;
  padding: 1rem;
}

.feedbacks__content .feedbacks__slide {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--bg-color);
  border-radius: 2rem;
  box-shadow: 0 0.1rem 0.5rem var(--shadow-color);
  padding: 3rem 5rem;
  border-top: 0.8rem solid var(--main-color);
  border-bottom: 0.8rem solid var(--main-color);
}

.feedbacks__slide img {
  width: 14rem;
  height: 14rem;
  object-fit: cover;
  border-radius: 50%;
  border: 0.5rem solid var(--bg-color);
  outline: 0.5rem solid var(--main-color);
}

.feedbacks__slide h3 {
  font-size: 2.5rem;
  margin: 2rem 0;
}

.feedbacks__slide p {
  font-size: 1.4rem;
  text-align: center;
}

.feedbacks__slide {
  min-height: 40rem; /* Задайте подходящую минимальную высоту */
}
.feedbacks__box .swiper-button-next,
.feedbacks__box .swiper-button-prev {
  color: var(--main-color);
  position: absolute;
  top: 50%; /* Центрирование кнопок */
  transform: translateY(-50%);
  z-index: 10;
}

.feedbacks__box .swiper-button-next {
  right: 10px;
}

.feedbacks__box .swiper-button-prev {
  left: 10px;
}

.feedbacks__box .swiper-pagination {
  position: absolute;
  bottom: 2.2rem;
  left: 50%;
  transform: translateX(-50%);
}

.feedbacks__box .swiper-pagination-bullet {
  background: rgba(0, 0, 0, 0.8);
}

.feedbacks__box .swiper-pagination-bullet-active {
  background: var(--main-color);
}

.contacts h2 {
  margin-bottom: 3rem;
}

.contacts form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 5rem;
}

.contacts form .input__box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input__box input,
.contacts form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--bg-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
  box-shadow: 0 0.1rem 0.5rem var(--shadow-color);
}

.contacts form .input__box input {
  width: 49%;
}

.contacts form textarea {
  resize: none;
}

.contacts form .btn {
  margin-top: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 7%;
  background: var(--main-color);
}

.footer__text p {
  font-size: 1.6rem;
  color: var(--white-color);
}

.footer__iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  border-radius: 0.8rem;
  border: 0.2rem solid var(--main-color);
  background: var(--white-color);
  outline: 0.2rem solid transparent;
}

.footer__iconTop a i {
  font-size: 2.4rem;

  color: #333;
  transition: 0.5s ease;
}

.footer__iconTop a:hover {
  outline-color: var(--white-color);
}

/* ====== Breakpoints ======== */
@media (max-width: 1457px) {
  .home .home__profession .profession__box {
    display: none;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  .about {
    margin-top: 20rem;
  }
  .home .home__profession {
    height: 85.8rem;
  }
  .home .home__profession .profession__box {
    display: none;
  }
  .home .home__profession .overlay {
    right: -9rem;
  }
}

@media (max-width: 1024px) {
  .header {
    padding: 2rem 3%;
  }
  /*  section {
    padding: 10rem 3% 2rem;
  } */
  .home .home__profession .profession__box {
    right: -22rem;
  }
  .home .home__profession .overlay {
    right: -15rem;
  }
}

@media (max-width: 991px) {
  .home .home__content {
    max-width: 50rem;
  }
  .home .home__profession .profession__box {
    right: -45rem;
  }
  .home .home__profession .overlay {
    right: -39.5rem;
  }
  /*  .home__img img {
    display: none;
  } */

  .home__img img {
    max-width: 50rem; /* Устанавливаем максимальную ширину изображения */
    height: auto; /* Сохраняем пропорции */
  }
  .navbar a:nth-child(1),
  .navbar a:nth-child(2) {
    color: var(--main-color);
  }
  .navbar a.active::before {
    background: var(--main-color);
    opacity: 0.7;
  }
  .services,
  .portfolio {
    padding-bottom: 7rem;
  }
  .contacts {
    min-height: auto;
  }
  footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 768px) {
  .home__img img {
    display: none;
  }
  #menu-icon {
    display: block;
    padding-right: 2rem;
  }
  #darkMode-icon {
    position: absolute;
    right: 8rem;
    font-size: 2.6rem;
    color: var(--text-color);
    margin-bottom: 0.1rem;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    display: none;
  }

  .navbar.active {
    display: block;
  }
  .navbar a {
    display: block;
    color: var(--text-color);
    font-size: 2rem;
    margin: 3rem 0;
  }
  .navbar a:nth-child(1),
  .navbar a:nth-child(2) {
    color: var(--text-color);
  }
  .navbar a.active {
    color: var(--main-color);
  }
  .navbar a::before {
    display: none;
  }

  .home {
    padding: 0 3% 23rem;
    justify-content: center;
    text-align: center;
  }

  .home__content {
    margin-top: 10rem;
  }
  .home__content h3 {
    font-size: 2.6rem;
  }

  .home__content h1 {
    font-size: 3rem;
  }

  .home__content .social-media a {
    margin: 2.5rem 0.75rem 3rem;
  }

  .home .home__profession {
    left: 0;
    width: 100%;
    height: 100%;
  }

  .home .home__profession .profession__box {
    /* position: fixed;
    top: 60%;
    left: 0;
    width: 100%;
    border-radius: 0; */
    display: none;
  }
  .home .profession__box .profession__name {
    padding: 0 13px;
    left: auto;
    transform-origin: 0;
  }

  .home .profession__box .profession__name:nth-child(1) {
    transform: rotate(-90deg) translate(-120px, -210px);
  }
  .home .profession__box .profession__name:nth-child(1) i {
    margin-right: 0;
  }

  .home .profession__box .profession__name:nth-child(2) {
    transform: rotate(0deg) translate(0, -335px);
  }

  .home .profession__box .profession__name:nth-child(3) {
    transform: rotate(90deg) translate(-115px, -450px);
  }

  .home .profession__box .profession__name:nth-child(4) {
    transform: rotate(180deg) translate(-220px, -335px);
  }

  .home .profession__box .circle {
    /* position: fixed;
    width: 670px;
    height: 670px;
    z-index: -1; */
    display: none;
  }

  .home .home__profession .overlay {
    position: fixed;
    top: 70rem;
    left: 50%;
    right: 0;
    transform: rotate(90deg) translate(-50%, 50%) scaleY(3);
    border-width: 23.9rem;
  }

  .about {
    flex-direction: column;
    text-align: center;
  }

  .about__content h2 {
    text-align: center;
  }

  .about__img img {
    margin-top: -2rem;
  }

  .services h2,
  .portfolio h2 {
    margin-bottom: 3rem;
  }

  .portfolio .portfolio__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .feedbacks__container .feedbacks__wrapper {
    padding: 5rem 0;
  }

  .feedbacks__content .feedbacks__slide {
    padding: 3rem 2rem;
  }

  .feedbacks__box .swiper-button-next,
  .feedbacks__box .swiper-button-prev {
    display: none;
  }
}

@media (max-width: 617px) {
  .portfolio .portfolio__container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50;
  }
  #darkMode-icon {
    right: 8rem;
  }
  .home {
    padding: 0 3% 0;
  }

  .contact form .input__box input {
    width: 100%;
  }
}

@media (max-width: 365px) {
  .about__img img {
    display: none;
  }

  .contacts {
    padding-top: 0;
  }
  .about {
    padding-top: 0;
  }
  .footer {
    flex-direction: column-reverse;
  }
  .footer p {
    text-align: center;
    margin-top: 2rem;
  }
}
